<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agenda de Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <!-- Se debe de cambiar los nombres de las variable en el for según lo que hagamos -->
      <!-- Se pone de forma asincrona para que el bucle no se espere a que se descarguen todos los datos -->
      <ng-container *ngFor="let user of users | async">
        <!-- En el size se pone el divisor entre doce, es decir, ponemos 2 saldrán 6 columnas -->
        <ion-col size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-list>
            <ion-card color="medium">
              <ion-card-content>
                <ion-card-header>
                  <ion-item>
                    <ion-avatar><img [src]="user.propetary_avatar"></ion-avatar>
                    <ion-label>{{ user.propetary_fullName }}</ion-label>
                  </ion-item>
                </ion-card-header>
                <ion-card-content>
                  <ion-avatar><img [src]="user.car_image"></ion-avatar>
                  {{ user.car_make }} {{ user.car_model }}
                  <br>
                  [ {{ user.car_year }} ]
                  <br>
                  <div id="vinCoche">{{ user.car_vin }}</div>

                </ion-card-content>

              </ion-card-content>
              <ion-button fill="block" (click)="borrarContacto(user)">BORRAR</ion-button>
            </ion-card>
          </ion-list>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>